.feedback-form__container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	display: none;
	justify-content: center;
	align-items: center;
}
.feedback-form__container::before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #323231;
	opacity: 0.8;		
}
.feedback-form__container--active { display: flex; }

.feedback-form {
	position: relative;
	z-index: 100;

	width: 600px;
	padding: 52px;
	padding-bottom: 32px;
	background-color: white;
	border-radius: 5px;

}

.feedback-form__title {
	text-align: center;
	width: 230px;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.08em;
	color: white;
	padding: 10px 0;
	background-color: #323231;
}

.feedback-form__content { margin-top: 52px; display: flex; }

.feedback-form__left,
.feedback-form__right {
	width: 50%;
}

.feedback-form__right { padding-left: 8px; }

.feedback-form__input {
	width: 100%;
	box-sizing: border-box;

	background-color: #F3F4F6;
	border: solid 1px #F3F4F6;
	border-radius: 2px;

	font-size: 16px;
	color: black;
	outline: none;
	padding: 10px 8px;
}
.feedback-form__input:not(:last-child) { margin-bottom: 8px; }

.feedback-form__input::placeholder {
	font-size: 16px;
	opacity: 1;
	color: black;
}

.feedback-form__textarea {
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;

	font-size: 16px;

	background-color: #F3F4F6;
	border: solid 1px #F3F4F6;
	border-radius: 2px;
	padding: 10px 8px;
}
.feedback-form__textarea::placeholder {
	font-size: 16px;
	opacity: 1;
	color: black;
}

.feedback-form__button {
	font-size: 14px;
	font-weight: 400;
	color: white;
	border: solid 1.5px #323231;
	border-radius: 2px;
	outline: none;

	display: block;
	background-color: #323231;
	
	padding: 10px 20px;
	margin-top: 8px;
	margin-left: auto;
	
	transition: all 150ms linear;
}
.feedback-form__button:hover {
	background-color: white;
	border: solid 1.5px black;
	color: #323231;

	cursor: pointer;
}


.feedback-form__bottom {
	color: #323231;
	text-align: center;
	font-size: 14px;
	margin-top: 32px;
}	

.feedback-form__close {
	position: absolute;
    right: 20px;
    top: 20px;

    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
}
.feedback-form__close:hover { cursor: pointer; }

@media screen and (max-width: 728px)
{
	.feedback-form { width: calc(100% - 64px * 2); }		
}

@media screen and (max-width: 425px)
{
	.feedback-form {
		width: calc(100% - 12px * 2);
	
		padding-left: 32px;
		padding-right: 32px;
	}			

	.feedback-form__content { flex-direction: column; }

	.feedback-form__left,
	.feedback-form__right {
		width: 100%;
	}

	.feedback-form__right {
		padding-left: 0;
		padding-top: 8px;
		height: 100px;
	}
}

@media screen and (max-width: 320px)
{
	.feedback-form__close { right: 8px; top: 8px; }
}


.feedback-form__input:focus,
.feedback-form__textarea:focus {
	border: solid 1px lightgray;
}