.footer {
	background-color: var(--main-black-color);
	color: white;
	padding: 52px 0;
	overflow: hidden;
	margin-top: 32px;
}
.footer__content {
	display: flex;
	justify-content: space-between;
}
.footer__info { flex: 0 0 auto; }
.footer__mobile-info { display: none; }
.footer__icon { 
	margin-right: 6px; 
	width: 18px; 
	color: var(--main-gray-color);
}
.footer__list { display: flex; flex-direction: column; }
.footer__links {display: flex; }
.footer__col:nth-child(1) { margin-right: 100px; }
.footer__col:nth-child(3) { margin-right: 100px; }
.footer__item { margin-bottom: 16px; text-transform: lowercase; }
.footer__item:last-child { margin-bottom: 0; }
.footer__title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.08em;
}



@media screen and (max-width: 1328px) 
{

	.footer__content { flex-direction: column; }
	.footer__info { margin-bottom: 52px; display: flex; }
	.footer__info p { display: none; }
	.footer__mobile-info { display: block; margin-top: 40px; }
	.footer__mobile-info p:last-child { margin-bottom: 0; }
	.footer__links { 
		display: flex;
		justify-content: space-between; 
		flex-wrap: wrap; 
		margin-bottom: -32px;
		margin-right: -32px;
	}
	.footer__col { padding-right: 36px; margin-bottom: 36px; }
	.footer__col:nth-child(1) { margin-right: 0; }
	.footer__col:nth-child(3) { margin-right: 0; }

}

@media screen and (max-width: 680px) 
{

	.footer__col:nth-child(4),
	.footer__col:nth-child(5) { 
		width: 234px;
	}

}

@media screen and (max-width: 425px) 
{

	.footer { padding: 20px 0; }
	.footer__info { margin-bottom: 20px; }	
	.footer__mobile-info { font-size: 14px; margin-top: 36px; }
	.footer__icon { font-size: 18px; }
	.footer__item { 
		margin-bottom: 14px; 
		margin-left: 20px;
		font-size: 14px; 
	}
	.footer__title { 
		font-size: 16px; 
		margin-bottom: 16px; 
		margin-left: 0;
	}
	.footer__col:nth-child(4),
	.footer__col:nth-child(5) { 
		width: 210px;
	}

}