.main-container {
	margin: 0 auto;
	max-width: var(--main-container-pc-width);
	padding: 0 var(--main-container-pc-padding);
}

@media screen and (max-width: 425px) 
{

	.main-container {
		padding: 0 var(--main-container-mobile-padding);
	}

}