.navigation-contacts {
	padding: 12px 0;
	background-color: var(--main-lightgray-color);
	font-size: 20px;
}

.navigation-contacts__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-contacts__location,
.navigation-contacts__phone { 
	font-weight: 400; 
}
.navigation-contacts__location i,
.navigation-contacts__phone i { 
	margin-right: 4px; 
	color: var(--main-gray-color); 
}
.navigation-contacts__location i { font-size: 24px; }
.navigation-contacts__phone i { font-size: 22px; }
.navigation-contacts__button {
    position: relative;
    padding: 8px 0px; 
    font-size: 12px;
    font-weight: 400;
    min-width: 132px;
    background-color: inherit;
	border: solid 1px black;
	outline: none;
	cursor: pointer;
	border-radius: 20px;

	display: none;
}



.navigation {
	background-color: var(--main-black-color);
	box-shadow: 0px 9px 10px -4px rgba(0,0,0,0.2);
}
.navigation__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--main-container-pc-width);
	padding: 0 var(--main-container-pc-padding);
	margin: auto;
}
.navigation__title { display: flex; align-items: center; } 
.navigation__item { position: relative; }
@media screen and (min-width: 980px) 
{

	.navigation__item:hover > .navigation-dropdown { max-height: 300px; }

}
.navigation__link {
	display: block;
	padding: 24px 16px;
	color: white;
	font-size: 20px;
}
.navigation__link:hover { background-color: var(--main-black-hover-color); }
.navigation__arrow-down {
	position: relative;
	top: 3px;
	margin-left: 4px;
}
.navigation__arrow-down {
	position: relative;
	top: 3px;
	margin-left: 4px;
}

.navigation-dropdown {
	position: absolute;
    top: 100%;
	left: 0;
	min-width: 160px;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;
}
.navigation-dropdown--active { max-height: 300px; }
.navigation-dropdown::before {
	content: '';
	position: absolute;
	/*top: 0;*/
	left: 0;
	top: 4px;
	width: 100%;
	height: calc(100% - 4px);
	background-color: var(--main-black-color);
	border-radius: 5px;
}
.navigation-dropdown__item { z-index: 1; }
.navigation-dropdown__item:first-child { margin-top: calc(4px + 10px); }
.navigation-dropdown__item:last-child { margin-bottom: 10px; }
.navigation-dropdown__link {
	display: block;
	padding: 12px 20px;
	font-size: 16px;
	color: white;
}
.navigation-dropdown__link:hover { background-color: var(--main-black-hover-color); }

.navigation__button {
    position: relative;
    padding: 8px 16px; 
    font-size: 18px;
    min-width: 160px;
    background-color: inherit;
    color: white;
	border: solid 1px white;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
}

.navigation__hamburger {
	position: relative;
	right: -14px;
	display: none;
}
.navigation__hamburger svg {
	position: relative;
	width: 50px;  
	transform: translate3d(0px, 0px, 0px);  
}
svg:not(:root) { overflow: hidden; }
.navigation__hamburger path.top, .navigation__hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.navigation__hamburger path {
    fill: none; 
    stroke: #fff; 
    stroke-dashoffset: 0; 
    stroke-linecap: round; 
    stroke-width: 40px;
    transition: stroke-dashoffset 250ms cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, 
    	stroke-dasharray 300ms cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.navigation__hamburger path.middle {stroke-dasharray: 240px, 240px;}
.navigation__hamburger--active path.top, 
.navigation__hamburger--active path.bottom {
	stroke-dashoffset: -650px;
}
.navigation__hamburger path.top, .navigation__hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}
.navigation__hamburger--active path.middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
}






@media screen and (max-width: 1200px) 
{ 

	.navigation__content { width: 100%; }

}

@media screen and (max-width: 1180px) 
{

	.navigation__button { display: none; }

}

@media screen and (max-width: 980px) 
{ 

	.navigation-contacts__location { display: none; } 
	.navigation-contacts__button { display: block; }


	.navigation {
		overflow: hidden;
		position: absolute;
		width: 100%;
	}
	.navigation__content { 
		flex-wrap: wrap; 
		align-items: center; 
		padding: 24px 0;
	}
	.navigation__title {
		padding-left: var(--main-container-pc-padding);
	}
	.navigation__list {
		flex-direction: column;
		width: 100%;
		max-height: 0;
		transition: max-height 350ms linear;
		overflow: hidden;
		margin-right: 0;
	}
	.navigation__list--active { max-height: 1000px; }
	.navigation__link { 
		padding-left: var(--main-container-pc-padding);
		padding-right: var(--main-container-pc-padding); 
		padding-top: 12px;
		padding-bottom: 6px;
	}
	.navigation__item:first-child .navigation__link { padding-top: 24px; } 
	.navigation__item:last-child .navigation__link { padding-bottom: 0; } 
	.navigation__link:hover { background-color: inherit; }
	.navigation__arrow-down { float: right; padding-right: 4px; }

	.navigation-dropdown { position: relative; transition: max-height 300ms linear; }
	.navigation-dropdown::before { content: none; }
	.navigation-dropdown--active { background-color: var(--main-black-hover-color); }
	.navigation-dropdown__link {
		padding-left: var(--main-container-pc-padding);
		padding-right: var(--main-container-pc-padding); 
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.navigation-dropdown__item:first-child { margin-top: 0; }
	.navigation-dropdown__item:last-child { margin-bottom: 0; }
	.navigation__hamburger { 
		display: flex; 
		overflow: hidden;
		padding-right: var(--main-container-pc-padding);
	}

}

@media screen and (max-width: 425px)
{

	.navigation-contacts__phone span { display: none; }

	.navigation__content { 
		padding: 18px 0;
	}

	.navigation__image {
		width: 100px;
	}

	.navigation__title {
		padding-left: 12px;
	}

	.navigation__hamburger { 
		padding-right: 12px;
	}

	.navigation__item:first-child .navigation__link {
	    padding-top: 40px;
	}

	.navigation__link { 
		padding-left: 36px;
		padding-right: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 16px;
	} 

	.navigation-dropdown__link {
		padding-left: 54px;
		padding-right: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
	} 

}