.navigation-contacts {
	display: flex;
	justify-content: space-between;
	padding: 12px 80px;
	background-color: var(--main-lightgray-color);
	font-size: 20px;
}

.navigation-contacts__location,
.navigation-contacts__phone {
	font-weight: 400;
}

.navigation-contacts__location i,
.navigation-contacts__phone i {
	margin-right: 4px; 
	color: var(--main-gray-color);
}

.navigation-contacts__location i {
	font-size: 24px;
}

.navigation-contacts__phone i {
	font-size: 22px;
}

.navigation {
	display: flex;
	/*align-items: stretch;*/
	align-items: center;
	justify-content: space-between;
	padding: 16px 80px;
	background-color: var(--main-black-color);
}

.navigation__item {
	/*display: flex;*/
	/*align-items: center;*/
}

.navigation__item:not(:last-child) {
	margin-right: 24px;
}

.navigation__link {
	color: white;
	font-size: 20px;
}

.navigation__arrow-down {
	position: relative;
	top: 3px;
	margin-left: 4px;
}

.navigation__button {
    position: relative;
    padding: 8px 16px; 
    font-size: 18px;
    min-width: 160px;
    background-color: inherit;
    color: white;
	border: solid 1px white;
}

/*.navigation__button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border: solid 1px white;
	border-radius: 50%;
	width: 16px;
}*/