.about-restoration:nth-child(2) { margin-top: 16px; }

.about-restoration__text {
	width: 780px;
	font-size: 14px;
	line-height: 24px;
}

.about-restoration__images {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -32px;
}

.about-restoration__image-container {
	width: calc(50% - 16px);
	position: relative;
	margin-bottom: 32px;
}
.about-restoration__image-container:hover { cursor: pointer; }
.about-restoration__image-container::after {
	content: '';
	display: block;
	padding-bottom: 50%;
}

.about-restoration__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
} 

.about-restoration__buttons {
	margin-top: 32px;
	display: flex;
	justify-content: center;
}

.main-btn { margin: 0; }
.main-btn:first-child { margin-right: 32px; }


@media screen and (max-width: 780px)
{
	.about-restoration__text { width: 100%; }
} 

@media screen and (max-width: 425px)
{
	.about-restoration:nth-child(2) { margin-top: 8px; }

	.about-restoration__images { margin-bottom: -16px; }

	.about-restoration__image-container { margin-bottom: 16px; width: 100%; }
	
	.about-restoration__buttons { flex-direction: column; align-items: center; }

	.main-btn:first-child { margin-right: 0; margin-bottom: 16px; }
}




/**/




.gallery-image-viewer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	z-index: 100;
	display: none;
}

.gallery-image-viewer--active { display: flex; }

.gallery-image-viewer__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: #323231;
	opacity: 0.8;
}

.gallery-image-viewer__image {
	position: absolute;
	max-width: calc(100% - 72px * 2 - 16px * 2);
	max-height: 80%;

	z-index: -1;
	opacity: 0;
	transition: opacity 250ms linear;
}
.gallery-image-viewer__image--active { opacity: 1; z-index: 0; }

.gallery-image-viewer__button {
	position: absolute;
	top: 0;
	z-index: 10;

	border: 0;
	padding: 0;
	font-size: 52px;
	text-align: center;
	color: white;

	height: 100%;
	width: 72px;

	background: inherit;
	transition: background 100ms linear;
}
.gallery-image-viewer__button:hover { cursor: pointer; background: rgba(0, 0, 0, 0.2) }

.gallery-image-viewer__button--left { left: 0; }
.gallery-image-viewer__button--right { right: 0; }

.gallery-image-viewer__counter {
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 100%;

	text-align: center;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 425px)
{
	.gallery-image-viewer__button {
		bottom: 16px;
		top: auto;
		height: auto;

		font-size: 40px;
	}

	.gallery-image-viewer__image {
		max-width: calc(100% -  12px * 2);
		max-height: calc(100% - 80px * 2);
	}
}