.about-restoration:nth-child(2) {
	margin-top: 16px;
}

.about-restoration:nth-child(3) {
	margin-top: 32px;
}

.about-restoration__text {
	width: 780px;
	font-size: 14px;
	line-height: 24px;
}

.about-restoration__images {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-restoration__image-container {
	width: calc(50% - 16px);
	position: relative;
}

.about-restoration__image-container::after {
	content: '';
	display: block;
	padding-bottom: 50%;
}

.about-restoration__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
} 

.about-restoration__buttons {
	margin-top: 32px;
	display: flex;
	justify-content: center;
}

.main-btn {
	margin: 0;
}

.main-btn:first-child {
	margin-right: 32px;
}


@media screen and (max-width: 780px)
{
	.about-restoration__text {
		width: 100%;
	}
} 

@media screen and (max-width: 425px)
{

	.about-restoration:nth-child(2) {
		margin-top: 8px;
	}

	.about-restoration:nth-child(3) {
		/*margin-top: 40px;*/
	}

	.about-restoration__image-container {
		width: 100%;
	}
	.about-restoration__image-container:first-child {
		margin-bottom: 16px;
	}

	.about-restoration__buttons {
		flex-direction: column;
		align-items: center;
	}

	.main-btn:first-child {
		margin-right: 0;
		margin-bottom: 16px;
	}
}