.gallery { margin-top: 38px; }

.gallery__categories-container {
	width: 1200px;
	margin: auto;
	margin-top: 20px;
}
.gallery__categories-container::-webkit-scrollbar { display: none; }

.gallery__categories { display: flex; }

.gallery__item { margin-right: 8px; }
.gallery__item:last-child { margin-right: 0; }

.gallery__category {
	color: #9A9A99;
	font-size: 16px;
	font-weight: 500;

	outline: none;

	padding: 8px 26px;
	border: solid 1px #9A9A99;
	border-radius: 2px;
	background-color: inherit; 

}
.gallery__category:hover {
	color: #323231;
	border: solid 1px #323231;

	cursor: pointer;
}


.gallery__category--active {
	color: #323231;
	border: solid 1px #323231;
}

@media screen and (max-width: 1200px)
{
	.gallery__categories-container { width: 100%; overflow: scroll; }


	.gallery__categories { padding-right: 64px; width: max-content; }

	.gallery__item:first-child { margin-left: 64px; }
}

@media screen and (max-width: 425px)
{
	.gallery__categories { padding-right: 12px; width: max-content; }

	.gallery__item:first-child { margin-left: 12px; }
}




/**/



.gallery__outside-container { width: 1200px; margin: auto; }

.gallery__container {
	display: flex;
	flex-flow: row wrap;

	margin-top: 32px;
	margin-right: -16px;
}

.gallery__image-block {
	width: 20%;
	position: relative;

	margin-bottom: 16px;
	margin-right: 16px;
	flex: 0 1 calc(20% - 16px)
}

.gallery__image-block::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gallery__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery__image-overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    
    opacity: 0;
    transition: opacity 100ms linear;
}
.gallery__image-block:hover .gallery__image-overlay  {
	opacity: 1;
	
	cursor: pointer;
}

@media screen and (max-width: 1200px)
{
	.gallery__outside-container {
		width: 100%;
		padding-right: 64px;
		padding-left: 64px;
	}
}

@media screen and (max-width: 1000px)
{
	.gallery__image-block { width: 25%; flex: 0 1 calc(25% - 16px); }
}

@media screen and (max-width: 700px)
{
	.gallery__container { justify-content: space-between; width: 100%; }

	.gallery__image-block {
		width: 33.3%;
		flex: 0 1 calc(33.3% - 16px);
		margin-right: 0;
	}
}

@media screen and (max-width: 500px)
{
	.gallery__image-block { width: 50%; flex: 0 1 calc(50% - 16px); }
}

@media screen and (max-width: 425px)
{
	.gallery__outside-container { padding-left: 12px; padding-right: 12px; }

	.gallery__container { margin-right: 0; }

	.gallery__image-block {
		width: 10%;
		flex: 0 1 calc(100%);
		margin-bottom: 12px;
	}
}


/**/



.gallery-image-viewer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	z-index: 100;

	display: none;
}

.gallery-image-viewer--active {
	display: flex;
}

.gallery-image-viewer__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: #323231;
	opacity: 0.8;

	/*transition: opacity 200ms linear;*/
}
.gallery-image-viewer__background:hover {
	/*cursor: pointer;*/
	/*opacity: 0.9;*/
}

.gallery-image-viewer__image {
	position: absolute;
	max-width: calc(100% - 72px * 2 - 16px * 2);
	max-height: 80%;

	z-index: -1;
	opacity: 0;
	transition: opacity 250ms linear;
}
.gallery-image-viewer__image--active {
	opacity: 1;
	z-index: 0;
}

.gallery-image-viewer__button {
	position: absolute;
	top: 0;
	z-index: 10;

	border: 0;
	padding: 0;
	font-size: 52px;
	text-align: center;
	color: white;

	height: 100%;
	width: 72px;
	outline: none;

	background: inherit;
	transition: background 100ms linear;
}
.gallery-image-viewer__button:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2)
}

.gallery-image-viewer__button--left { left: 0; }
.gallery-image-viewer__button--right { right: 0; }

.gallery-image-viewer__counter {
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 100%;

	text-align: center;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 425px)
{
	.gallery-image-viewer__button {
		bottom: 16px;
		top: auto;
		height: auto;

		font-size: 40px;
	}

	.gallery-image-viewer__image {
		max-width: calc(100% -  12px * 2);
		max-height: calc(100% - 80px * 2);
	}
}