.header {
	width: 100%;
	height: 470px;
	position: relative;
	margin-top: 32px;
}

.header__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/index-header.png);
	background-position: right;
	/*box-shadow: 0px 0px 15px 2px rgba(235,236,236,1);*/
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
}

.header__border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/index-header-border.png);
	background-repeat: no-repeat;
}

.header__logo { margin-top: 66px; margin-left: 66px; }

.header__list {
	position: absolute;
	bottom: 0;
	padding-left: 66px;
	padding-bottom: 44px;
	flex-direction: column;
	font-size: 18px;
}

.header__item {
	position: relative;
	margin-left: 26px;
	margin-bottom: 12px;
}
.header__item:last-child { margin-bottom: 0; }
.header__item::before { 
	content: '';
	position: absolute;
	top: 6px;
    left: -26px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: var(--main-black-color);
}

@media screen and (max-width: 425px) 
{
	.header { height: 280px; margin-top: 16px; }	
	
	.header__background { background-size: cover; }

	.header__border {
		background-size: cover;
		background-position-x: -40px;
	}
	
	.header__logo {
		width: 140px;
		margin-top: 20px;
		margin-left: 20px;
	}
	
	.header__list {
		padding-left: 20px;
		padding-bottom: 20px;
		font-size: 12px;
		width: 240px;
	}
	
	.header__item { margin-bottom: 6px; margin-left: 12px; }
	.header__item::before { 
		content: '';
		position: absolute;
		top: 6px;
	    left: -12px;
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: var(--main-black-color);
	}
}



/* ------------------------------------------------------------------------------------------------- */



.stats {
	display: flex;
	justify-content: space-between;

	margin-top: 32px;
	padding-left: 21px;
	font-size: 18px;
}

.stats__item {
	position: relative;
	max-width: 320px;
	padding: 36px 32px;

	text-align: center;
	font-weight: 400;

	box-shadow: 0px 0px 6px 2px rgba(235,236,236,0.5);
	flex: 1;
	border: solid 1px var(--main-lightgray-color);
}

.stats__icon-background {
	content: '';
	position: absolute;
	left: -21px;
	top: calc(50% - 21px);
	width: 42px;
	height: 42px;
	background-color: #A6A6A6;
}

.stats__icon {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 36px;
	height: 36px;
	background-color: inherit;
}

@media screen and (max-width: 1200px) 
{
	.stats__item {
		max-width: 341px;
		margin-right: 47px;
		padding: 12px 21px;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.stats__item:last-child { margin-right: 0; }
}

@media screen and (max-width: 1200px) 
{
	.stats { 
		flex-direction: column; 
	}

	.stats__item {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		padding: 18px 39px;
		justify-content: flex-start;
	}
	.stats__item:last-child { margin-bottom: 0; }
}

@media screen and (max-width: 425px) 
{

	.stats { margin-top: 16px; font-size: 16px; }	
	
	.stats__item { padding: 18px 55px; text-align: left; }
}



/* ------------------------------------------------------------------------------------------------- */



.catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "b-1 b-1 b-1 b-1 b-1 b-1 b-1 b-2 b-2 b-2 b-2 b-2 b-2 b-2 b-3 b-3 b-3 b-3 b-3 b-3 b-3" 
		"b-4 b-4 b-4 b-4 b-4 b-4 b-5 b-5 b-5 b-5 b-5 b-5 b-6 b-6 b-6 b-6 b-6 b-6 b-7 b-7 b-7";
	grid-gap: 16px 16px;

	background-color: #F3F4F6;
	margin-top: 32px;
	padding: 16px;
}

.catalog__block {
	padding-top: 44px;
	padding-left: 18px;
	background-color: white;
	height: 160px;
	position: relative;
	border-radius: 2px;

	transition: transform 100ms linear;
}
.catalog__block:hover {
	transform: scale(1.05);
}
.catalog__block:hover .catalog__title {
	text-decoration: underline;
}

.catalog__block-1 { grid-area: b-1; }
.catalog__block-2 { grid-area: b-2; }
.catalog__block-3 { grid-area: b-3; }
.catalog__block-4 { grid-area: b-4; }
.catalog__block-5 { grid-area: b-5; }
.catalog__block-6 { grid-area: b-6; }
.catalog__block-7 { 
	grid-area: b-7; 
	font-size: 14px; 
	display: flex; 
	align-items: center; 
	padding-top: 0; 
	font-weight: 400;
}

.catalog__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;
	z-index: 10;
	color: var(--main-black-color);
}

.catalog__image {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 16px;
}

.catalog__block-4 .catalog__image  { margin-right: 0; }
.catalog__block-6 .catalog__image  { margin-right: 0; }

.catalog__list {
	font-size: 14px;
	font-weight: 400;
	flex-direction: column;
	z-index: 10;
}

.catalog__list li { padding-bottom: 2px; }

.catalog__link { width: 60%; display: inline-block; }

.catalog__icon {
	position: absolute;
	right: 18px;
	font-size: 26px;
	color: #323231;
}

@media screen and (max-width: 1200px)
{
	.catalog {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 50px;
		grid-template-areas: "b-1 b-2" "b-3 b-4" "b-5 b-6" "b-7 .";margin-top: 20px;
		margin-top: 20px;
	}

	.catalog__block-7 {
		padding-top: 16px;
		padding-bottom: 16px;
		padding-right: 18px;
		height: auto;
	}

	.catalog__link { width: 100%; }

	.catalog__icon {
		position: relative;
		top: -2px;
		font-size: 26px;
	}

} 

@media screen and (max-width: 980px)
{
	.catalog__block-1 .catalog__image  { width: 50%; }
	.catalog__block-2 .catalog__image  { width: 40%; }
	.catalog__block-3 .catalog__image  { width: 40%; }
	.catalog__block-4 .catalog__image  { width: 40%; }
	.catalog__block-5 .catalog__image  { width: 20%; }
	.catalog__block-6 .catalog__image  { width: 30%; object-position: left; }
}

@media screen and (max-width: 760px)
{
	.catalog {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 50px;
		grid-template-areas: "b-1" "b-2" "b-3" "b-4" "b-5" "b-6" "b-7";
	}

	.catalog__image {
		height: 80%;
		object-fit: cover;
		object-position: right;
	}
}

@media screen and (max-width: 425px)
{
	.catalog__block {
		height: 100px;
		padding-top: 16px;
		padding-left: 16px;
	}

	.catalog__block-7 { height: auto; }

	.catalog__image { object-position: top; margin-right: 4px; height: 95%; }

	.catalog__block-1 .catalog__image  { width: 55%; }
	.catalog__block-2 .catalog__image  { width: 40%; }
	.catalog__block-3 .catalog__image  { width: 50%; }
	.catalog__block-4 .catalog__image  { width: 50%; object-position: center; }
	.catalog__block-5 .catalog__image  { width: 30%; object-position: center; object-fit: contain; }
	.catalog__block-6 .catalog__image  { width: 30%; object-position: left; }

	.catalog__title { font-size: 18px; }

	.catalog__list { font-size: 12px; }

	.catalog__icon { top: 0; }
}



/* ------------------------------------------------------------------------------------------------- */



.services { margin-top: 40px; }

.services__list { 
	display: flex;
	justify-content: space-between; 
	flex-wrap: wrap; 

	padding-right: 32px;
}

.services__item {
	font-weight: 600;
	font-size: 18px;
	color: var(--main-black-color);
	padding: 40px 0 40px 16px;

	transition: font-weight 100ms linear;
}
.services__item:hover {
	text-decoration: underline;
}
.services__item:hover .services__icon {
	margin-left: 21px;
}

.services__link {
	position: relative;
}

.services__icon {
	position: absolute;
	margin-top: 3px;
	margin-left: 16px;

	transition: margin-left 100ms linear;
}

@media screen and (max-width: 1200px)
{
	.services__item { 
		width: 50%;
		padding: 20px 0 0 16px;
	}

	.services__list {
		padding-bottom: 20px;

		margin-right: 0;
	}

}

@media screen and (max-width: 425px)
{
	.services__list { margin-bottom: 0; margin-bottom: 32px; }
	
	.services__item { 
		width: 100%; 
		padding: 20px 0 0 16px;
		margin-bottom: 0;
	}
	
	/*.services__icon { top: 2px; margin-left: 8px; }*/
	.services__icon { display: none; }
}



/* ------------------------------------------------------------------------------------------------- */



.gallery__slider { margin-top: 32px; position: relative; }

.gallery__container {
	width: calc(100% - 60px * 2);
}

.gallery__button { color: #323231; outline: none; }

/*.gallery__slide { text-align: center; }*/

.gallery__slide {
	width: 100%;
	position: relative;
}

.gallery__slide::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gallery__pagination {
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 18px;
	position: inherit;
}

.gallery__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide:hover {
	cursor: pointer;
}
.swiper-slide:hover > .gallery__image-overlay {
	opacity: 1;
}

.gallery__image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.2);

	opacity: 0;
	transition: opacity 100ms linear;
}

.swiper-pagination-bullet {
	background-color: #C4C4C4;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	outline: none;
}

.swiper-pagination-bullet-active { background-color: #A6A6A6; }

.gallery__link { margin-top: 16px; }

@media screen and (max-width: 425px)
{
	.gallery__container { width: calc(100% - 40px * 2); }

	.gallery__button::after { font-size: 32px; }	

	.gallery__button__prev { left: 0; }

	.gallery__button__next { right: 0; }

	.gallery__pagination { margin-top: 16px; }

	.gallery__link { margin-top: 16px; width: calc(100% - 40px * 2); }

	.gallery__icon { top: 1px; }
}

/*@media screen and (min-width: 1200px)
{
	.gallery__container { height: 240px; }
}*/



/* ------------------------------------------------------------------------------------------------- */



.projects { margin-top: 32px; }

.projects__container { 
	display: flex;
	margin-top: 32px; 

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.projects__item {
	position: relative;
	display: flex;
	flex-direction: column;
} 

.projects__image-container {
	width: 100%;
	position: relative;
}

.projects__image-container::after {
	content: "";
	display: block;
	padding-bottom: 50%;
}

.projects__image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #323231;
	opacity: 0.3;

	transition: opacity 150ms linear;
}
.projects__image-background:hover {
	cursor: pointer;
	opacity: 0;
}

.projects__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.projects__title {
	font-size: 18px;
	font-weight: 600;
	margin-top: 8px;
	color: #323231;
}
.projects__title:hover {
	cursor: pointer;
	text-decoration: underline;
}


.projects__date {
	font-size: 14px;
	font-weight: 400;
	padding-top: 8px;
	margin-top: auto;
}

.projects__link { margin-top: 32px; }


@media screen and (max-width: 900px)
{
	.projects__container { 
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 425px)
{
	.projects__link {  margin-top: 16px; }
}



/**/



/*.gallery-image-viewer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	z-index: 100;

	display: none;
}

.gallery-image-viewer--active {
	display: flex;
}

.gallery-image-viewer__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: #323231;
	opacity: 0.8;

}
.gallery-image-viewer__background:hover {
}

.gallery-image-viewer__image {
	max-width: calc(100% - 72px * 2 - 16px * 2);
	max-height: 80%;
	z-index: 10;
}

.gallery-image-viewer__button {
	position: absolute;
	top: 0;

	border: 0;
	padding: 0;
	font-size: 52px;
	text-align: center;
	color: white;

	height: 100%;
	width: 72px;
	outline: none;

	background: inherit;
	transition: background 100ms linear;
}
.gallery-image-viewer__button:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2)
}

.gallery-image-viewer__button--left { left: 0; }
.gallery-image-viewer__button--right { right: 0; }

.gallery-image-viewer__counter {
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 100%;

	text-align: center;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 425px)
{
	.gallery-image-viewer__button {
		bottom: 16px;
		top: auto;
		height: auto;

		font-size: 40px;
	}

	.gallery-image-viewer__image {
		max-width: calc(100% -  12px * 2);
		max-height: calc(100% - 80px * 2);
	}
}*/


/**/




.gallery-image-viewer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	z-index: 100;

	display: none;
}

.gallery-image-viewer--active {
	display: flex;
}

.gallery-image-viewer__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: #323231;
	opacity: 0.8;

	/*transition: opacity 200ms linear;*/
}
.gallery-image-viewer__background:hover {
	/*cursor: pointer;*/
	/*opacity: 0.9;*/
}

.gallery-image-viewer__image {
	position: absolute;
	max-width: calc(100% - 72px * 2 - 16px * 2);
	max-height: 80%;

	z-index: -1;
	opacity: 0;
	transition: opacity 250ms linear;
}
.gallery-image-viewer__image--active {
	opacity: 1;
	z-index: 0;
}

.gallery-image-viewer__button {
	position: absolute;
	top: 0;
	z-index: 10;

	border: 0;
	padding: 0;
	font-size: 52px;
	text-align: center;
	color: white;

	height: 100%;
	width: 72px;
	outline: none;

	background: inherit;
	transition: background 100ms linear;
}
.gallery-image-viewer__button:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2)
}

.gallery-image-viewer__button--left { left: 0; }
.gallery-image-viewer__button--right { right: 0; }

.gallery-image-viewer__counter {
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 100%;

	text-align: center;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 425px)
{
	.gallery-image-viewer__button {
		bottom: 16px;
		top: auto;
		height: auto;

		font-size: 40px;
	}

	.gallery-image-viewer__image {
		max-width: calc(100% -  12px * 2);
		max-height: calc(100% - 80px * 2);
	}
}