.header {
	width: 100%;
	height: 470px;
	position: relative;
	margin-top: 18px;
}
.header__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/index-header.png);
	background-position: right;
	/*box-shadow: 0px 0px 15px 2px rgba(235,236,236,1);*/
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
}
.header__border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/index-header-border.png);
	background-repeat: no-repeat;
}
.header__logo {
	margin-top: 66px;
	margin-left: 66px;
}
.header__list {
	position: absolute;
	bottom: 0;
	padding-left: 66px;
	padding-bottom: 44px;
	flex-direction: column;
}
.header__item {
	position: relative;
	margin-left: 26px;
	margin-bottom: 12px;
}
.header__item:last-child { margin-bottom: 0; }
.header__item::before { 
	content: '';
	position: absolute;
	top: 6px;
    left: -26px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: var(--main-black-color);
}



@media screen and (max-width: 425px) 
{

	.header {
		height: 280px;
		margin-top: 16px;
	}	
	.header__background {
		background-size: cover;
	}
	.header__border {
		background-size: cover;
		background-position-x: -40px;
	}
	.header__logo {
		width: 140px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.header__list {
		padding-left: 20px;
		padding-bottom: 20px;
		font-size: 12px;
		width: 240px;
	}
	.header__item {
		margin-bottom: 6px;
		margin-left: 12px;
	}
	.header__item::before { 
		content: '';
		position: absolute;
		top: 6px;
	    left: -12px;
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: var(--main-black-color);
	}

}


.stats {
	justify-content: space-between;
	margin-top: 32px;
	padding-left: 21px;
}
.stats__item {
	position: relative;
	max-width: 320px;
	padding: 36px 32px;
	text-align: center;
	box-shadow: 0px 0px 6px 2px rgba(235,236,236,0.5);
	flex: 1;
	border: solid 1px var(--main-lightgray-color);
}
.stats__icon-background {
	content: '';
	position: absolute;
	left: -21px;
	top: calc(50% - 21px);
	width: 42px;
	height: 42px;
	background-color: #A6A6A6;
}
.stats__icon {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 36px;
	height: 36px;
	background-color: inherit;
}



@media screen and (max-width: 1328px) 
{
	.stats__item {
		max-width: 341px;
		margin-right: 47px;
		padding: 12px 21px;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.stats__item:last-child {
		margin-right: 0;
	}
}



@media screen and (max-width: 1328px) 
{

	.stats {
		flex-direction: column;
	}	
	.stats__item {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		padding: 18px 39px;
		justify-content: flex-start;
	}
	.stats__item:last-child {
		margin-bottom: 0;
	}

}



@media screen and (max-width: 425px) 
{
	.stats {
		margin-top: 16px;
		font-size: 16px;
	}	
	.stats__item {
		padding: 18px 55px;
		text-align: left;
	}
}



.catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "b-1 b-1 b-1 b-1 b-1 b-1 b-1 b-2 b-2 b-2 b-2 b-2 b-2 b-2 b-3 b-3 b-3 b-3 b-3 b-3 b-3" 
		"b-4 b-4 b-4 b-4 b-4 b-4 b-5 b-5 b-5 b-5 b-5 b-5 b-6 b-6 b-6 b-6 b-6 b-6 b-7 b-7 b-7";
	grid-gap: 16px 16px;

	background-color: #F3F4F6;
	margin-top: 40px;
	padding: 16px;
}
.catalog__block {
	padding-top: 44px;
	padding-left: 18px;
	background-color: white;
	height: 160px;
	position: relative;
}
.catalog__block-1 { grid-area: b-1; }
.catalog__block-2 { grid-area: b-2; }
.catalog__block-3 { grid-area: b-3; }
.catalog__block-4 { grid-area: b-4; }
.catalog__block-5 { grid-area: b-5; }
.catalog__block-6 { grid-area: b-6; }
.catalog__block-7 { grid-area: b-7; }
.catalog__title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 8px;
	z-index: 10;
}
.catalog__image {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 16px;
}
.catalog__block-4 .catalog__image  { margin-right: 0; }
.catalog__block-6 .catalog__image  { margin-right: 0; }
.catalog__list {
	font-size: 14px;
	color: var(--main-black-color);
	flex-direction: column;
	z-index: 10;
}



@media screen and (max-width: 1328px)
{
	.catalog {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "b-1 b-2" "b-3 b-4" "b-5 b-6" "b-7 .";margin-top: 20px;
		
		margin-top: 20px;
	}
} 

@media screen and (max-width: 980px)
{

	.catalog__block-1 .catalog__image  { width: 50%; }
	.catalog__block-2 .catalog__image  { width: 40%; }
	.catalog__block-3 .catalog__image  { width: 40%; }
	.catalog__block-4 .catalog__image  { width: 40%; }
	.catalog__block-5 .catalog__image  { width: 20%; }
	.catalog__block-6 .catalog__image  { width: 30%; object-position: left; }

}




@media screen and (max-width: 760px)
{

	.catalog {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "b-1" "b-2" "b-3" "b-4" "b-5" "b-6" "b-7";
	}

	.catalog__image {
		height: 80%;
		object-fit: cover;
		object-position: right;
	}

}

@media screen and (max-width: 425px)
{

	.catalog__block {
		height: 100px;
		padding-top: 16px;
		padding-left: 16px;
	}

	.catalog__image { object-position: top; margin-right: 4px; height: 95%; }

	.catalog__block-1 .catalog__image  { width: 55%; }
	.catalog__block-2 .catalog__image  { width: 40%; }
	.catalog__block-3 .catalog__image  { width: 50%; }
	.catalog__block-4 .catalog__image  { width: 50%; object-position: center; }
	.catalog__block-5 .catalog__image  { width: 30%; object-position: center; object-fit: contain; }
	.catalog__block-6 .catalog__image  { width: 30%; object-position: left; }

	.catalog__title {
		font-size: 18px;
	}

	.catalog__list {
		font-size: 12px;
	}

}