.product {
	margin-top: 38px;
}

.product__container {
	display: flex;
}

.product__left-container,
.product__right-container {
	width: 50%;
}

.product__left-container {
	padding-right: 38px;
}

.product__right-container {
	padding-left: 38px;
}



/**/



.product__image-container {
	width: 100%;
	position: relative;
}

.product__image-container::after {
	content: "";
	display: block;
	padding-bottom: 80%;
}

.product__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;

	opacity: 0;
}
.product__image--active {
	opacity: 1;
}


/**/


.product__other-images-container {
	margin-top: 16px;
	position: relative;
}

.product__other-images {
	width: calc(100% - (32px + 8px) * 2);
	margin: auto;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0 16px;
}

.product__other-images__item {
	position: relative;
}
.product__other-images__item:hover {
	cursor: pointer;
}
.product__other-images__item::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.product__other-images__item--active {
	border: solid 4px #C5C6C6;
}
.product__other-images__item--active:hover {
	cursor: default;
}

.product__other-images__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product__other-images__button {
	position: absolute;
	top: 0;

	height: 100%;
	width: 32px;
	font-size: 40px;
	color: #323231;

	padding: 0;
	border: none;
	background-color: inherit;
	outline: none;
}
.product__other-images__button:hover {
	cursor: pointer;
}
.product__other-images__button--disable {
	opacity: 0.5;
}
.product__other-images__button--disable:hover {
	cursor: default;
}

.product__other-images__button--left {
	left: 0;
	text-align: left;
}

.product__other-images__button--right {
	right: 0;
	text-align: right;
}




/**/



.product__title {
	display: block;

	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.08em;

	color: #323231;
}

.product__subtitle {
	display: block;
	margin-top: 8px;

	font-size: 18px;
	color: #A6A6A6;
}

.product__price {
	display: block;
	margin-top: 16px;

	font-size: 18px;
	color: #323231;
}

.product__button {
	font-size: 16px;
	color: #323231;
	background-color: #F3F4F6;
	border: none;

	margin-top: 32px;
	padding: 16px 0;
	width: 200px;
}

.product__text {
	margin-top: 32px;

	font-size: 14px;
	line-height: 22px;
}



/**/


.other-products {
	margin-top: 64px;
}

.other-products__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 32px 16px;

	margin-top: 32px;
}

.other-products__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.other-products__image-container {
	width: 100%;
	position: relative;
}

.other-products__image-container::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.other-products__image-background {
	position: absolute;
	width: 100%;
	height: 100%;

    opacity: 0;
    font-size: 18px;
    font-weight: 500;
    /*background: white;*/
    background: rgb(0, 0, 0, 0.0);

	display: flex;
	justify-content: center;
	align-items: center;
}

.other-products__image-container:hover .other-products__image-background {
    cursor: pointer;

    /*opacity: 0.65;*/
    background: rgb(256, 256, 256, 0.65);
    opacity: 1;
}

.other-products__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.other-products__title {
	display: block;

	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #323231;
}

.other-products__subtitle {
	display: block;

	margin-top: auto;
	font-size: 14px;
	color: #A6A6A6;
}

.other-products__price {
	margin-top: 8px;
	font-size: 14px;
	color: #323231;
}

